# Auto-set by Vercel Postgres integration:
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Generate with:  openssl rand -hex 32
JWT_SECRET=

# Vercel auto-generates this for cron jobs (read-only)
CRON_SECRET=
